{:private #include #join "private.edn"
 
 
 :http-port #long #or [#env HTTP_PORT
                       #ref [:private :http-port]
                       3000]

 :connection-uri #or [#env DB_URL
                      #ref [:private :db-url]
                      "jdbc:postgresql://localhost/{{name}}"]
 
 :user #or [#env DB_USER
            #ref [:private :db-user]
            "dbuser1"]
 
 :password #or [#env DB_PASSWORD
                #ref [:private :db-password]]
 }
